@charset "UTF-8";
/*
            Made by : NOUR ELDIN CODE
 
            ╔══╗ 
            ╚╗╔╝
            ╔╝╚(¯`v´¯)Coding 
            ╚══ `.¸.´   THIS WEBSITE MADE BY LOVE ( ͡° ͜ʖ ͡°)
*/
/* 
    import more style 
*/
/*animation file*/
/*
            Made by : NOUR ELDIN CODE
 
            ╔══╗ 
            ╚╗╔╝
            ╔╝╚(¯`v´¯)Coding 
            ╚══ `.¸.´   THIS WEBSITE MADE BY LOVE ( ͡° ͜ʖ ͡°)
*/
/*fadeIn animation*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/*reset file*/
/*
            Made by : NOUR ELDIN CODE
 
            ╔══╗ 
            ╚╗╔╝
            ╔╝╚(¯`v´¯)Coding 
            ╚══ `.¸.´   THIS WEBSITE MADE BY LOVE ( ͡° ͜ʖ ͡°)
*/
/* Website Colors Var */
/* 
    Website Reset And Fix
*/
/*
    remove all padding and margin from all the website
    add line height to the elements    
*/
* {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

/*
    add more style to the website
    add the font style
*/
html, body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  background: #fdfdfd;
  color: #212121;
}

body {
  height: 2000px;
}

ul, li {
  list-style: none;
}

/*
    add colors to the text
*/
h1, h2, h3, h4, p, a {
  color: #212121;
}

/*
    remove the a decoration
*/
a {
  text-decoration: none;
}

/*
    make the images inside the website
*/
img {
  width: 100%;
}

/**/
/** Website Font import **/
/**  More font for backup

    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
    
    font-family: 'Montserrat', sans-serif; 
    
    **/
/** font-family: 'Noto Sans', sans-serif; **/
/**/
/*responsive*/
/* 
    Website Main Style Code 
*/
.container {
  width: 80%;
  margin: auto;
}

@media (max-width: 1068px) {
  .container {
    width: 90%;
  }
}

section {
  height: 600px;
  margin: 1rem 0px;
}

@media (max-width: 700px) {
  section {
    height: 100%;
  }
}

/*
    Nav bar style
*/
nav {
  width: 100%;
  height: 3.8rem;
  background-color: #421866;
  position: fixed;
  z-index: 2;
}

@media (max-width: 480px) {
  nav {
    text-align: center;
    height: 6rem;
  }
}

nav .navigation {
  float: right;
}

@media (max-width: 480px) {
  nav .navigation {
    float: none;
  }
}

nav .navigation a {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: .9rem;
  text-transform: capitalize;
}

nav .navigation a:hover {
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 1rem;
}

nav li {
  display: inline-block;
  margin: 1rem 1rem 0px 0px;
}

nav li:last-child {
  margin: 1rem 0em 0px 0px;
}

nav li a {
  color: whitesmoke;
  text-decoration: none;
}

nav .logo a {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

/*
    Header style
*/
header {
  width: 100%;
  height: 100vh;
}

@media (max-width: 700px) {
  header {
    text-align: center;
  }
}

header img {
  float: right;
  max-width: 40%;
  padding: 6rem 0px;
}

@media (max-width: 700px) {
  header img {
    display: none;
  }
}

header .content {
  float: left;
  width: 60%;
  padding: 13rem 0px 0px 0px;
}

@media (max-width: 700px) {
  header .content {
    width: 100%;
    padding-top: 14rem;
  }
}

@media (max-width: 480px) {
  header .content {
    padding-top: 13rem;
  }
}

header .content h1 {
  letter-spacing: 1px;
  font-size: 2.5rem;
}

@media (max-width: 480px) {
  header .content h1 {
    font-size: 2rem;
  }
}

header .content p {
  font-size: .9rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin: 1.5rem 0px;
}

@media (max-width: 700px) {
  header .content p {
    margin: 2rem 0px;
  }
}

@media (max-width: 480px) {
  header .content p {
    margin: 2.4rem 0px;
  }
}

header .content .btn a {
  color: #421866;
  border: 2px solid #421866;
  padding: .3em 30px;
  font-weight: 900;
  border-radius: 3px;
  margin: 0px .5em 0px 0px;
  font-size: .9em;
  -webkit-transition: .4s;
  transition: .4s;
}

header .content .btn a:hover {
  color: whitesmoke;
  background-color: #421866;
}

/*
    About style
*/
#about {
  width: 100%;
}

@media (max-width: 700px) {
  #about {
    text-align: center;
  }
}

#about img {
  float: left;
  max-width: 35%;
}

@media (max-width: 700px) {
  #about img {
    max-width: 50%;
    float: none;
  }
}

#about p {
  float: right;
  padding: 10rem 0px;
  max-width: 60%;
}

@media (max-width: 700px) {
  #about p {
    float: none;
    padding: 2rem 0px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  #about p {
    font-size: .9rem;
  }
}

#about p a {
  -webkit-text-decoration-color: #421866;
          text-decoration-color: #421866;
  color: #421866;
  padding: 0px 10px;
  font-weight: 600;
}

#about .content {
  padding: 0px;
}

/*
    mempershipe
*/
#memberships {
  text-align: center;
  margin: auto;
  width: 90%;
}

#memberships ul {
  background-color: #F1F1F1;
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 27%;
  text-align: center;
  margin: 1rem 1rem;
  float: left;
}

@media (max-width: 1200px) {
  #memberships ul {
    width: 25%;
    margin: 1rem 2rem;
  }
}

@media (max-width: 700px) {
  #memberships ul {
    width: 50%;
    float: none;
    margin: 3rem auto;
  }
}

@media (max-width: 480px) {
  #memberships ul {
    width: 80%;
  }
}

#memberships ul li {
  display: block;
  background-color: #421866;
  margin: 20px 0px;
  padding: 1em 0px;
  height: 1em 0px;
}

#memberships ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  font-size: 11px;
  cursor: text;
}

#memberships h1, #memberships span {
  color: #421866;
}

#memberships h1 {
  font-size: 3em;
  padding: .9em 0px .5em 0px;
}

#memberships span {
  font-size: 13px;
  float: right;
  padding: 1.5em 5em 0px 0px;
}

/*
    Footer
*/
.contact {
  background-color: #421866;
  height: 500px;
  float: left;
  width: 40%;
}

@media (max-width: 1200px) {
  .contact {
    width: 35%;
  }
}

@media (max-width: 1068px) {
  .contact {
    width: 25%;
  }
}

@media (max-width: 700px) {
  .contact {
    width: 100%;
    height: 300px;
    margin: 1rem 0px;
  }
}

.contact h1, .contact a {
  color: #fdfdfd;
}

.contact h1 {
  padding: 2em 0em 1em .5em;
}

@media (max-width: 700px) {
  .contact h1 {
    font-size: 1.5rem;
  }
}

.contact a {
  display: block;
  font-weight: 500;
  /*padding: .5em 1em;*/
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 1em 1em;
}

@media (max-width: 700px) {
  .contact a {
    font-size: 1rem;
  }
}

footer {
  margin-top: 7em;
}

@media (max-width: 700px) {
  footer {
    margin: 0px;
  }
}

footer .map {
  width: 50%;
}

@media (max-width: 1200px) {
  footer .map {
    width: 70%;
  }
}

@media (max-width: 700px) {
  footer .map {
    width: 100%;
  }
}

.owner {
  text-align: center;
  clear: both;
}

.owner h4, .owner a {
  padding: 1rem 0px;
  color: rgba(0, 0, 0, 0.7);
  font-size: .9rem;
}

.owner a {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */